@charset "UTF-8";
/* CSS Document */


html{
	font-family:"Spoqa Han Sans" Sans-serif;
	font-size:10px;
	}
	
body{
	margin: 0;
	padding: 0;
	}
body:hover{
	background:url(../images/21px.png);
}
section{
	width:1868px;
	}

ul li{
	list-style-type:none;
	}

a{
	text-decoration:none;
	color:#333;
	}	
.leftMenu a:hover {
	border-bottom:1px solid #333;
}

/* header*/

.header{
	width: 1868px;
	height: 82px;
	padding-bottom:11px;
	border-bottom:1px solid #f0f0f0;
	}
	
.logo{
	padding-top:24px;
	padding-left:30px;
	float:left;
	}
	
.gndArea{
	width:1200px;
	padding-top:45px;
	}

.gnb li{
	display:inline;
	float:left;
	
	text-align:center;
	
}

dt{
	font-weight:700;
	font-size:1.8rem;
	color:#000;
}
dd li{
	display:inline;

	padding-top:8px;
	padding-left:12px;
	padding-right:12px;
}
.depthFashion .depthBeauty .depthLiving{
	margin: 0;
	padding-left:10px;
}


.v-hidden{
	visibility:hidden;
	}

/* //header*/

.container{
	width:100%;
	min-height: 210vh;/*vh,vw 상대값 %는 쓰지 않는다!*/
    /*mla+mra 한줄로 쓰지 않고 각각써주기*/
    /*background-color: rgba(221, 221, 221, 0.3);*/
	}

.leftMenu{
	width: 180px;
	height:327px;
	padding:15px 30px 30px 30px;
	float:left;
	font-size:1.8rem;
	font
	background-color: blue;
	}

.star, .brandlogo, .bgline{
	position:top left;
}

.star{
	background:url(../images/common/star_off.png) no-repeat;
	height:40px;
}
.star:hover{
	background:url(../images/common/star_on.png)
	no-repeat;
}
.brandlogo{
	background:url(../images/files/s_byredo.png)
	no-repeat;
	height:63px;
	}
.bgline{
	background:url(../images/common/bg_line01.png)no-repeat;
	height:40px;
}
.left_list{
	font-family: "Lora", serif;
	font-size:1.5rem;
	font-weight:700;
	color:#777;
	margin-bottom:28px;
}

.eu_site{
	font-size:1.2rem;
	font-weight: 400;
	color:#e2e2e2;
}
.content{
	width:1868px;
	/*background-color: orange;*/
	}
.listHeader{
	width:1100px;
	height:50px;
	float:left;
	margin-top:38px;
}
.location li{
	font-size:1.2rem;
	padding-right:12px;
	display:inline;
	text-align: left;

}
.sortingArea p{
	display:inline-block;
	float:right;
	font-size:1.3em;
	margin-top:-13px;
}
.sortingArea span{
	padding-left:10px;
	padding-left:10px;
}
.displayList{
	width:1000px;
	display:inline-block;
	
}
.box{
 	float:left;
	 padding-bottom:56px;
}
.img{
	display: inline-block;
 	width: 333.3px;
 	height:321px;
}
.tagList{

	font-size:1.4rem;
	line-height: 1.3em;
	color:#000;
	text-align: center;
	
}

footer{
	width:1868px;
	min-height: 20vh;/*vh,vw 상대값 %는 쓰지 않는다!*/
    /*mla+mra 한줄로 쓰지 않고 각각써주기*/
	background-color: green;
	}