body{
    margin: 0;
    background: url("../images/leading-24px.png")
	}
p{
    margin-top: 0;
    margin-bottom: 1.5em;/*상대값*/
    font-size: 16px;
    font-family: "Spoqa Han Sans";
    line-height: 1.5;/*버그 안생기기 위해 단위를 안씀*/
}