body{
    width: 800px;
    margin: 0 auto;
    background: url("../images/leading-24px.png")
	}
p{
    margin-top: 0;
    margin-bottom: 1.5em;/*상대값*/
    font-size: 16px;
    font-family: "Spoqa Han Sans";
    line-height: 1.5;/*버그 안생기기 위해 단위를 안씀*/
    letter-spacing: -0.005em;/*문자간격 포토샵에서 -5일경우 1000으로 나눠서 적어야함*/
}