@charset "utf-8";
/*! page.css © yamoo9.net, 2017 */

html{
    overflow-y:visible;
    min-height:20vh;
}


/* page-header 
    #26d092
    24px * 3 =72px
*/
a{
    text-decoration: none;
}
.page-header{
    min-height:72px;
    background:#26d092;
}

.page-header .brand {
    font-family: "Apple Chancery";
    font-size: 1.875rem;
    letter-spacing: -0.025em;
 }

.brand{
    line-height:20px;
}

.brand a {
  display: block;
  margin-top: 21px;
  text-decoration: none;
  color: #fff;
}

/* gnb영역 */
.gnb {
    margin-top: 27px;
    position: relative;
    left: 19px;
}

.gnb li{
    float:left;
    margin-right:43px;
}

.gnb li:last-child{
    margin-right:0px;
}

.gnb a{
    font-size:22px;
    letter-spacing: -0.05em;/*1000/5*/
    text-decoration: none;
    color:#FFF;
    
}
.page-main{
    min-height:300px;
    background:hsla(0, 100%, 50%, 0.1);

}

.btn a {
    width: 90px;
    line-height:30px;
    font-size:30px;
    color:#fff;
    position:relative;
    left:50px;
    top:130px;
    
    border:15px solid #333;

}


.btn a:hover {
    margin: 30px;
}