body{
    margin: 0 auto;
    background: url("../images/21px.png")
	}
p{
    margin-top: 0;
    margin-bottom: 1.5em;/*상대값*/
    font-size: 14px;
    font-family: "Spoqa Han Sans";
    line-height: 1.5;/*버그 안생기기 위해 단위를 안씀*/
    letter-spacing: -0.025em;/*문자간격 포토샵에서 -5일경우 1000으로 나눠서 적어야함*/
	
    
}

h1,h5,h6/*일괄 적용되는 코드:그룹핑*/{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2.4rem;
    letter-spacing: -0.05rem;/*1000으로 나눔 :자간-70값*/
}

h1,h3{
    font-weight: 300;
	letter-spacing: -0.05rem;/*1000으로 나눔 :자간-70값*/
}
h6{
    font-size: 1.116rem;
    line-height:0.7;
    font-weight:500;
    color:#47494e;
}
h5{
    font-size: 1rem;
    line-height: 1.5;
    color:#787f94;
    font-weight: 500;
}

h3{
    font-size: 2.263rem;
    line-height: 1.4;
    margin-bottom:15px
}
h1{
    font-size: 3.902rem;
    line-height: 0.5;
    color:#333741;
}

img{
    margin-top:-14px;
}

.container{
    width: 820px;
    min-height: 320vh;/*vh,vw 상대값 %는 쓰지 않는다!*/
    /*mla+mra 한줄로 쓰지 않고 각각써주기*/
    margin-left: auto;
    margin-right: auto;
    /*background-color: rgba(221, 221, 221, 0.3);*/
}
.header{
    padding-top: 84px;
}
.main{
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 7px;
}

.sectionImportant > ol{
	margin-top:12px;
}

li{
    color:#333741;
    margin-left:-21px;
	padding-top:22px;
    margin-bottom: 12px;
    font-weight:500;
}

.listitem{
    color:#787f94;
    font-weight:600;
}
p.list_text{
	margin-left:-20px;
	}

.sectionImportant,.section_qanda {
    margin-bottom: 55px;
}
.section_qanda > ul{
    margin-left:-18px;
    list-style-type:none;
}
.question{
	line-height:1.5;
    font-weight: 600;
}
.answer{
    line-height:1.5;
    margin-bottom:21px;
}

.qanda_item{
    line-height:0.5;
}
.footer{
    padding-top: 10px;
    margin-bottom: 40px;
}

.top{
    float:left;
}
.logo{
    float: right;
    padding-top:22px;
}

