html{
    font-size: 10px;/*html에 상속받는 body가 곱하기쉽게*/
}
body{
    margin: 0;
    background: url("../images/leading-24px.png");
    font-size: 1.6rem;/*html에 상속받는 값x 글자크기가 px로 나오는값만 rem으로 바꿔줌*/
    font-family: "Spoqa Han Sans", "Sans-serif";
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.015em;
    color: #333;
}
/*페이지 요소를 담을 컨테이너*/
.container{
    width: 1100px;
    height: 100vh;/*vh,vw 상대값 %는 쓰지 않는다!*/
    /*mla+mra 한줄로 쓰지 않고 각각써주기*/
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(221, 221, 221, 0.3);
}

/* 타이포그래피 디자인 */
/* 주석쓰는 단축키 커먼드+?*/
/* 본문(단락) 디자인*/
p{
    margin-top: 0;
    margin-bottom: 1.5em;
    /*글자크기 대비 1.5 16px은 바텀에 24px 간격이있음<<그거 없애주는거*/
    
}
/* 제목 디자인: Type Scale x1.25 / font size:fz/ rem:r*/
h1,h2,h3,h4,h5,h6{/*일괄 적용되는 코드:그룹핑*/
    margin-top: 0;
    margin-bottom: 2.4rem;
    letter-spacing: -0.07rem;/*1000으로 나눔 :자간-70값*/
}
h1,h2,h3,h4{
    font-weight: 300;
}
h6{
    font-size: 2rem;
    line-height: 2.4rem;
}
h5{
    font-size: 2.5rem;
    line-height: 2.4rem;
}
h4{
    font-size: 3.125rem;
    line-height: 2.4rem;
}
h3{
    font-size: 3.906rem;
    line-height: 4.8rem;
}
h2{
    font-size: 4.883rem;
    line-height: 4.8rem;
}
h1{
    font-size: 6.104rem;
    line-height: 7.2rem;
}
