@charset "UTF-8";
/* CSS Document */
/* overflow: 넘쳐난 상태 */
html{
    /*font-size: 10px;*/
}
.demo{
    width: 500px;
    height: 340px;
    margin: 3em auto;
    border:5px solid #ddd;
    padding:1em;

}

/* 기본값*/
.o-visible{
    overflow:visible;
}
/*잘라서 감추기*/
.o-hidden{
    overflow:hidden;
}
/*x,y 스크롤*/
.o-scroll{
    overflow:scroll;
    /*overflow-x:scroll*/
    /*overflow-y:scroll*/
}
/*스크롤*/
.o-auto{
    overflow:auto;
}